.email-form {
    width: 500px;
}

@media (max-width: 600px){
    .email-form {
        width:100% !important;
        border:none !important;
    }
    .email-form .p-5 {
        padding-top:0px !important;
        padding-bottom:0px !important;
    }
}