.home-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.image {
  text-align: center;
}
.image img {
  width: 450px;
  height: auto;
}

.socials ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
}

.socials li {
  display: inline;
  padding:1rem;
}

.socials a {
  text-decoration: none;
}

.icons {
  height: 48px;
  width: auto;
}

.collective-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 48px;
  width: 150px;
}

@media (max-width: 600px) {
  .image img {
    width: 75%;
  }

  .collective-container {
    height: 36px;
    width:112.5px;
    font-size: 0.75rem;
  }

  .icons {
    height: 36px;
    width: auto;
  }

  .hero li{
    font-size:1rem;
  }
}
