.home-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.image {
  text-align: center;
}
.image img {
  width: 450px;
  height: auto;
}

.hero, .hero li {
  background-color: #000000;
}
