.home-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.image img {
  width: 450px;
  margin: auto;
  border: 1px solid white;
  border-radius: 5px;
}

.hero-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.hero-container p {
  font-size: 1.5rem;
  margin: 0.5%;
}

.socials ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
}

.socials li {
  display: inline;
  margin: 1rem;
}

.socials a {
  text-decoration: none;
}

.icons {
  height: 48px;
  width: auto;
}

.collective-container {
  display:flex;
  align-items: center;
  justify-content: center;
  border: 1px solid white;
  border-radius: 2.5px;
  font-weight:bold;
  font-style: italic;
  height:48px;
  width: 150px; 
}

@media (max-width: 600px) {
  .image img {
    width: 75%;
  }

  .icons, .collective-container {
    height: 36px;
    width: auto;
  }

  .hero-container p {
    font-size: 1rem;
  }
}
