.about-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.paragraph-container {
    display: flex;
    justify-content: center;
}

.paragraph-container p {
    width: 50%;
}