.footer-container {
    text-align: center;
    padding-bottom: 1rem;
  }

.footer-container p {
  margin:0;
  margin-top: 1rem;
}

.socials ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
}

.socials li {
  display: inline;
  padding:1rem;
}

.socials a {
  text-decoration: none;
}

.icons {
  height: 48px;
  width: auto;
}

.collective-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 48px;
  width: 150px;
}