.shows-list li p:last-child {
  margin-bottom: 0;
}

@media (max-width: 600px) {
  .shows-title {
    margin-top: 0rem !important;
    margin-bottom: 1rem !important;
  }

  .shows-list li {
    font-size: 1.25rem;
  }

  .shows-list ul {
    margin-bottom: 0 !important;
  }
}