*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font-size: 1rem;
  font-family: "Roboto", sans-serif;
  background-color: black;
  color: white;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

@media (max-width: 600px) {
  img {
    width: 75%;
  }
  .top {
    flex-direction: column;
  } /*BEGIN MOBILE*/
  nav {
    max-width: 100%;
  }
  .header {
    max-width: 100%;
  }
  .icons {
    height: 36px;
    width: auto;
  }
  .hero-container p {
    font-size: 1rem;
  }
}
