*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font-size: 1rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: black;
  color: white;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

.container {
  height: 100vh;
  display:flex;
  flex-direction: column;
  justify-content: space-between;
}

.top {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1a1a1a;
}

img {
  width: 20%;
  margin: auto;
}

.icons {
  height: 48px;
  width: auto;
}

#LC {
  border: 1px solid white;
}

nav {
  width: 40%;
}

nav ul {
  display: flex;
  justify-content: space-evenly;
  background-color: #1a1a1a;
}

li {
  display: inline;
  font-size: 1.25rem;
  background-color: #1a1a1a;
}

.socials ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
}

.socials li {
  display: inline;
  margin: 1rem;
}

.header {
  width: 40%;
  font-size: 2.5rem;
  background-color: #1a1a1a;
}

.hero-container {
  display:flex;
  flex-direction: column;
  align-items: center;
  background-color: #1a1a1a;
}

.hero-container p {
  background-color: #1a1a1a;
}
@media (max-width: 600px) {
  img {
    width: 75%;
  }
  .top {
    flex-direction: column;
  } /*BEGIN MOBILE*/
}
